.store-aside {
   width: 13rem;
   height: 100vh;
   padding: 0rem 1rem;
   padding-top: 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}
.aside-filter-container {
   width: 100%;
   padding: 0.5rem 0;
}
.aside-filter-container > label {
   display: inline-block;
   margin-bottom: 0.3rem;
}
.aside-filter-container > input[type='checkbox'] {
   margin-left: 1rem;
}
