.header {
   width: 100%;
   height: 60px;
   background-color: #000;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.burgger {
   display: none;
   margin: 1rem;
   width: 50px;
   height: 50px;
   background-image: url(../img/burgger-menu-white.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: transparent;
   border: none;
   outline: none;
}

.active-link {
   color: rgb(255, 194, 80) !important;
}

.auth-buttons {
   margin-left: 40px;
   margin-right: -50px;
}

.auth-buttons>button {
   padding: 5px 10px;
   background-color: #333;
   border-radius: 20px;
   color: #ddd;
   border-style: none;
   outline-style: none;
   cursor: pointer;
}

.auth-buttons>button:hover {
   background-color: rgb(255, 194, 80);
   color: #333;
}

#cart {
   width: 18px;
   height: 18px;
   border: none;
   border-radius: 50%;
   color: #ddd;
   background-color: transparent;
   position: relative;
   bottom: 0.8em;
   left: 1em;
}

#cart::before {
   content: '';
   width: 24px;
   height: 24px;
   background: url(../img/cart.svg);
   background-size: contain;
   display: block;
   position: absolute;
   top: 0.5em;
   left: -1.5em;
}

#cart:hover {
   border: solid 1px transparent;
}

.header-logo {
   height: 40px;
   padding: 0px 20px;
}

.header__nav {
   justify-content: flex-end;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: flex-end;
   padding: 0.5em 5em;
   list-style: none;
}

.user,
.header__nav>li {
   padding: 0 10px;
   color: #ddd;
}

.header__nav a {
   color: #ddd;
   text-decoration: none;
}

.header__nav>li>a:hover {
   color: rgb(255, 194, 80);
}


@media (max-width: 900px) {

   .header {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
   }

   .header,
   .header__nav {
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
   }

   .auth-buttons,
   .header__nav p {
      margin: 0;
      padding-top: 1rem;
   }

   .burgger {
      display: block;
   }

   .burgger~* {
      display: none;
   }

   .active-burgger~* {
      display: block;
   }
}