.pagination-container {
   width: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: absolute;
   bottom: 1rem;
   left: 0;
}
.pagination {
   margin-left: 13rem; /* margin-left: 0 in @mediaQuery */
   list-style: none;
   display: flex;
   justify-content: center;
   gap: 3px;
}
.pagination span {
   display: block;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   box-shadow: 3px 3px 5px #eee;
   background-color: #fff;
   color: #777;
   cursor: pointer;
   transition: transform 0.2s;
}
.pagination span:hover {
   color: rgb(255, 194, 80);
   transform: scale(1.05);
}
.active-page {
   color: rgb(255, 194, 80) !important;
   pointer-events: none;
}
.disabled {
   pointer-events: none;
   color: #ccc !important;
}
