.pagination-container {
   width: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: absolute;
   bottom: 1rem;
   left: 0;
}
.pagination {
   margin-left: 13rem; /* margin-left: 0 in @mediaQuery */
   list-style: none;
   display: flex;
   justify-content: center;
   gap: 3px;
}
.pagination span {
   display: block;
   padding: 5px 10px;
   border: 1px solid #eee;
   border-radius: 5px;
   background-color: #eee3;
   color: #333;
   cursor: pointer;
}
.pagination span:hover {
   color: rgb(255, 194, 80);
}
.active-page {
   color: rgb(255, 194, 80) !important;
   pointer-events: none;
}
.disabled {
   pointer-events: none;
   color: #aaa !important;
}
